<div>
  <ul class="cbp-ig-grid">
    <li>
      <a href="#" [routerLink]="['/cv']">
        <span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
        <h3 class="cbp-ig-title">My Resume</h3>
        <span class="cbp-ig-category">Simon Mor</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
        <h3 class="cbp-ig-title">Resume</h3>
        <span class="cbp-ig-category">Design</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="cbp-ig-icon cbp-ig-icon-milk"></span>
        <h3 class="cbp-ig-title">Cosby sweater</h3>
        <span class="cbp-ig-category">Lifestyle</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
        <h3 class="cbp-ig-title">Commodo</h3>
        <span class="cbp-ig-category">Food</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="cbp-ig-icon cbp-ig-icon-spectacles"></span>
        <h3 class="cbp-ig-title">Bitters kitsch</h3>
        <span class="cbp-ig-category">Gadgets</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
        <h3 class="cbp-ig-title">Austin proident</h3>
        <span class="cbp-ig-category">Music</span>
      </a>
    </li>
  </ul>
</div>
