<nav class="side-navigation">
  <ul class="cbp-vimenu">
    <li>
      <a href="#" class="icon-logo" (click)="toggleLogoRoute()" [routerLink]='logoRoute'>Logo</a>
    </li>
    <li>
      <a href="#" class="icon-archive" [routerLink]="['/cv']">My Resume</a>
    </li>
    <li>
      <a href="#" class="icon-search">Search</a>
    </li>
    <li class="cbp-vicurrent">
      <a href="#" class="icon-pencil">Pencil</a>
    </li>
    <li>
      <a href="#" class="icon-location">Location</a>
    </li>
    <li>
      <a href="#" class="icon-images">Images</a>
    </li>
    <li>
      <a href="#" class="icon-download">Download</a>
    </li>
  </ul>

</nav>
